<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jy.orm.dao.AdminMapper">



	<!--查询所有的数据-->
	<select id="selectAll" resultType="com.jy.orm.entity.Admin">
		select a.id,a.user_name as userName,a.password,a.real_name as realName,a.birthday,a.email,a.phone,a.gender,a.avatar,a.del_flag as delFlag, a.is_enable as isEnable from sys_admin a
	</select>

</mapper>
